body{
  background-color: #edecec;
}
.container-fluid{
  padding-left: 100px;
  padding-right: 100px;
}
.heading{
  text-align: center;
}
.heading .panel{
  margin-top: 70px;
  border-color: #A1BAE2;
}
.heading .panel-heading{
  background-color: #A1BAE2;
  border-bottom: 0px;
  color: #FBD3D1;
}
.heading h1{
  font-size: 40px;
  font-weight: bolder;
}
#intro-form{
  text-align: center;
}
form{
  margin: 0 auto;
  width: 250px;
}
input[type=text]{
  background: #f1f1f1;
  border: none;
  padding: 20px;
  margin: 5px 0 22px 0;
  width: 100%;
}
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
button.submitbtn{
  background-color: #A1BAE2;
  border-bottom: 0px;
  border-right: 0px;
  color: #FBD3D1;
  font-weight: bold;
  font-size: 22px;
  padding: 16px 20px;
  width: 100%;
}
/*#game{
  display: none;
}*/
#rules .panel{
  border-color: #FBD3D1;
}
#game .panel{
  border-color: #FBD3D1;
}
#rules .panel-body{
  background-color: #FBD3D1;
  color: #696969;
}
#rules h2{
  text-decoration: underline;
}
#game .panel-body{
  background-color: #FBD3D1;
  color: #696969;
  border: none;
}
#game .gamearea {
  text-align: center;
}
#game .gamearea #p1 img{
  width: 20%;
}
#game .gamearea #p2 img{
  width: 20%;
}
#game #p1{
  margin-left: auto;
}
#game #dice {
  text-align: center;
}
#game .gamearea .diceRoll img {
  width: 10%;
}
#game .player1button{
  color: red;
}
.disableDiv {
  pointer-events: none;
  opacity: 0.5;
}
#turnPlayer1 {
  display: none;
}
#turnPlayer2{
  display: none;
}
.noScore{
  display: none;
}
.winner{
  display:none;
}
